body{
     margin: 0;
     padding: 0;
     background-color: #F5F5F5;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
     background-color: #424242;
     position: relative;
     top: 0;
     width: 100%;
     height: 140px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.heading{
     text-align: center;
     font-weight: 800;
     font-size: 2rem;
     color: #F5F5F5;
}
main{
     background-color: #F5F5F5;
}
.game{
     width: 80%;
     height: 50%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: center;
     flex-direction: column;

}
.icones{
     width: 80%;
     height: 30%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
}
.icon{
     width: 180px;
     height: 180px;
     margin: 20px;
     border-radius: 50%;
     background-size: cover;
     /* padding: 10px; */
     box-shadow: 2px 2px 30px #424242;
}
.icon:hover{
     box-shadow: 2px 2px 10px #424242;
}
.icon:active{
     box-shadow: 2px 2px 50px #48CFCB;
}
.score-board{
     width: 80%;
     height: 10%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}
.score{
     font-size: 2rem;
     text-align: center;
     margin: 60px;
     color: #424242;
     text-shadow: 1px 1px 2px #424242;
}
.result{
     width: 28%;
     height: 10%;
     background-color: #48CFCB;
     /* color: #424242; */
     border-radius: 10px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     box-shadow: 2px 2px 20px #229799;
     font-size: 1.5rem;
}
.reset{
     width: 80%;
     height: 10%;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: center;
}
.reset img{
     width: 100px;
     height: 100px;
     background-size: cover;
     align-self: flex-end;
}



footer{
     background-color: #424242;
     width: 100%;
     height: 20px;
     position: absolute;
     bottom: 0;
}